.forecast {
	display: flex;
	justify-content: center;
}

.forecast-day-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;
}

.forecast-day {
	margin: 5px;
	border: 1px solid black;
	border-radius: 8px;
	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	user-select: none;
}
