.forecast-day {
	/* border: 1px solid black; */
	border-radius: 8px;
	/* padding: 10px;
	padding-bottom: 20px; */

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* width: 12%; */
	/* height: 300px; */
	user-select: none;
}
