.weather-today {
	color: aliceblue;
	background-color: rgba(5, 26, 44, 0.5);

	user-select: none;
	border-radius: 8px;
	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 250px;
}

.weather-today-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.weather-date {
	font-size: larger;
}

.weather-description {
	font-size: large;
	margin-bottom: 5px;
}

.weather-temp {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}
