.app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.daily-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 50px;
}

@media only screen and (max-width: 900px) {
	.daily-info {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 50px;
	}

	.weather-adopt {
		margin-top: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
